@charset "UTF-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
html {
}
body {
	font-family: 'Roboto', sans-serif;
    background-color: #ccc;
    width: 100%;
    height: 100%;
    text-align: center;
}
a{
	text-decoration: none;
}
h1{
	font-size: 3em;
	color: #fff;
	font-weight: 300 !important;
	border-bottom: solid 1px rgba(255,255,255,0.2);
	margin: 0em 0em 0.5em 0em; 
}
button {
	cursor: pointer;
}
.medium{
	font-size: 0.8em !important;
	vertical-align: middle;
}
.small{
	font-size: 0.3em !important;
	vertical-align: middle;
}
#container{
	margin: 0 auto;
}
#content{
	background-color: #d6336e;
	background-image: url(../img/rastergrid.png);
	width: 80%;
	padding: 2em;
	min-width: 36em; 
	max-width: 60em;
	display: inline-block;
	color: #fff;
	background-repeat: repeat;
}
#main{
	display: inline-block;
}
#main input{
	float: left;
	clear: both;
	min-width: 12em;
}
.help{
	position: absolute;
	top: 2em;
	left: 50%;
}
.help-inline{
	margin-left: 3em;
	float: left;
	clear: both;
}
#footer{
	width: 80%;
	min-width: 36em; 
	padding: 1em 2em;
	max-width: 60em;
	color: #d6336e;
	background-color: #fff;
	display: inline-block;
}
#footer a{
	color: #d6336e !important;
	font-weight: normal;
}
#footer a:hover{
	color: #8d1437 !important;
	border-bottom: 1px solid #8d1437;
}
.megaSizeMe{
	font-family: 'Roboto', sans-serif !important;
	font-size: 3em;
	color: #fff;
	font-weight: 100 !important;
	background-color: transparent;
	border: none;
	outline: none;
	margin: 0em 0em 0.5em 0em; 
}
.mediumSizeMe{
	font-family: 'Roboto', sans-serif !important;
	font-size: 1.5em;
	color: #fff;
	font-weight: 100 !important;
	background-color: transparent;
	border: none;
	outline: none;
	margin: 1em 0em;
}
.code{
	font-size: 1.5em;
	font-weight: 300 !important;
	color: #fff;
	border-bottom: 2px solid #8d1437;
	float: left;
	clear: both;
	margin-bottom: 1em;
}
.code:hover, .code:active{
	font-weight: 500 !important;
}
#code {
	float: left;
}
.focus
{
 -webkit-animation: animation1 1s linear 3s infinite alternate;
 animation: animation1 3s linear 1s infinite alternate;
 color: #fff;
}

@-webkit-keyframes animation1
{
 0%   { opacity: 1;}
 50%  { opacity: 0.75;}
 100% { opacity: 1;}
}

@keyframes animation1
{
 0%   { opacity: 1;}
 50%  { opacity: 0.75;}
 100% { opacity: 1;}
}

/*'Cuz fuck shit.*/
::-webkit-input-placeholder {
  color: #fff;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:-moz-placeholder {
  color: #fff;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
::-moz-placeholder {
  color: #fff;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:-ms-input-placeholder {  
  color: #fff;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
/* Handle :focus o/ */
:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}
:focus:-ms-input-placeholder {  
  opacity: 0;
  -ms-transition: opacity 0.35s ease-in-out;
  transition: opacity 0.35s ease-in-out;
}

/* Styling for solution rows used on both rating and results pages */
.solution{
	font-size: 1.5em;
	padding: 0.2em;
	margin-right: 1em;
	font-family: 'Roboto', sans-serif !important;
	color: #fff;
	font-weight: 100 !important;
	background-color: transparent;
}

/* Styling for the points displayed on results page */
.points{
	font-size: 1.5em;
	padding: 0.2em;
	margin: 0 1em;
	font-family: 'Roboto', sans-serif !important;
	color: #fff;
	font-weight: 100 !important;
	background-color: transparent;
}

/* Styling for a simple white button */
.button{
	border: none;
	padding: 0.45em;
	margin: 0.2em;
	color: #d6336e;
	background-color: #fff;
	font-size: 1em;
}

.button:hover{
	box-shadow: 1px 1px 5px rgba(255,255,255, 0.3), -1px -1px 5px rgba(255,255,255, 0.3);
	color: rgba(214,51,110, 0.95);
	cursor:pointer;
}

/* Used in like and dislike buttons when they have not (yet) been chosen */
.disabled{
	opacity: 0.4;
}

.disabled:hover{
	opacity: 0.8;
	cursor:pointer;
	
}

/* Used in addSolutions-page: an input to write your idea in */
.solution-form{
	font-family: 'Roboto', sans-serif !important;
	font-size: 1.5em;
	color: #fff;
	font-weight: 100 !important;
	background-color: transparent;
	border: none;
	outline: none;
	margin-bottom: 0.5em;
	min-width: 300px;
}

/* Used in addSolutions-page: a button to delete your idea */
.delete-solution-form{
	font-family: 'Roboto', sans-serif !important;
	font-size: 1.5em;
	color: #fff;
	font-weight: 100 !important;
	background-color: transparent;
	border: none;
	outline: none;
	margin-bottom: 0.5em;
}

.textbox{
	font-family: 'Roboto', sans-serif !important;
	font-size: 1.5em;
	color: #fff;
	font-weight: 100 !important;
	background-color: transparent;
	outline: none;
	margin-bottom: 0.5em;
	min-width: 300px;
	text-align: left;
	padding: 0.5em;
	border: 1px dotted #8d1437;
}

/* Wraps the solution-rows on addSolutions-page */
#solutions{
	width: 100%;
	float: left;
}

#modalDialog{
	background-color: #d6336e;
	background-image: url(../img/rastergrid.png);
	width: 80%;
	margin-top: 2em;
	padding: 2em;
	min-width: 12em; 
	max-width: 40em;
	display: inline-block;
	color: #fff;
	background-repeat: repeat;
	border: solid 1em #fff;
}
#modalContainer{
	background-image: url(../img/rastergrid.png);
	background-repeat: repeat;
	position: absolute;
	xxtop: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: 1000;
	text-align: center;
}
.hidden{
	transition: 0.2s;
	bottom: 200% !important;	
	opacity: 0;
	overflow: hidden;
	user-select: none;
	
}
.visible{
	transition: 0.2s;
	right: 0px !important;
	opacity: 1;
}
.left{
	float: left;
}

.right{
	float: right;
}

.left-clear{
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 1em;
	margin-top: 1em;
}
.clear{
	float: none !important;
	clear: both;
}

.pick-solution input{
	float: right !important;
	clear: none !important;
	min-width: 12em;
}

.work-division input{
	width: 2em !important;
}

input[type="radio"] {
    display:none;
}

input[type="radio"] + label {
	float:right;
	display:inline-block;
    border: none;
	padding: 0.45em;
	margin: 0.2em;
	color: #d6336e;
	background-color: #fff;
	font-size: 1em;
	opacity: 0.4;
	cursor:pointer;
}

input[type="radio"]:checked + label {
	opacity: 1;
}

input[type="radio"] + label ,
input[type="radio"]:checked + label {
  -webkit-transition:opacity 0.2s linear;
  -o-transition:opacity 0.2s linear;
  -moz-transition:opacity 0.2s linear;
  transition:opacity 0.2s linear;
}
#clockdiv{
	color: #fff;
	font-weight: 100;
	text-align: center;
	font-size: 1.5em;
	clear: both;
	margin-bottom: 1em;
}

#clockdiv > div{
	padding: 0.2em;
	border-radius: 3px;
	background: #d6336e;
	display: inline-block;
}

#clockdiv div > span{
	padding: 0.6em;
	border-radius: 3px;
	background: rgba(141, 20, 55, 0.2);
	display: inline-block;
}

.smalltext{
	padding-top: 0.25em;
	font-size: 0.4em;
}
.step{
	background: rgba(50, 50, 55, 0.2);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2), -1px -1px 5px rgba(0, 0, 0, 0.2);
	color: rgba(255, 255, 255, 0.2);
	padding: 0.4em;
	border-radius: 50%;
	width: 1em;
	height: 1em;
	font-size: 0.8em;
	display: inline-block;
	margin: 1em 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}
.active{
	color: rgba(255, 255, 255, 1.0);
	background: rgba(255, 51, 110, 0.6);
}
.last-active{
	color: #fff;
	padding: 0.6em;
	font-size: 0.9em;
	background: rgba(255, 51, 110, 1.0);
}
.progressbar{
	clear: both;
	padding-top: 1em;
}